[workspace]
resolver = "2"
members = [
    "crates/tunnel-common",
    "crates/tunnel-iroh",
    "crates/tunnel-ice",
    "crates/tunnel-rs",
    "crates/tunnel-rs-ice",
]

[workspace.package]
version = "0.1.42"
