[workspace]
resolver = "2"
members = [
    "crates/vpn-common",
    "crates/vpn-iroh",
    "crates/vpn-core",
    "crates/vpn-rs",
]

[workspace.package]
version = "0.0.1"

[workspace.dependencies]
rand = "0.9"
